<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="tool-bar">
    <button ion-button (click)="addFordonPromt()">Fordon</button>
    <button ion-button>Trafik</button>
    <button ion-button>Person</button>
    <button ion-button>Karta</button>
  </div>
  <canvas id="canvas"></canvas>
</ion-content>
