<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Canvas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="tool-bar">
    <button ion-button (click)="addImage('assets/imgs/personbil.png')">Fordon</button>
    <button ion-button>Trafik</button>
    <button ion-button>Person</button>
    <button ion-button>Karta</button>
  </div>
  <canvas id="canvas"></canvas>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
