<!--
  Generated template for the PlaceFordonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Placera fordon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <canvas id="canvas"></canvas>
  <button ion-button (click)="addDog()">Hund</button>
  <button ion-button (click)="addArrow()">Pil</button>
  <button ion-button (click)="removeLatestObj()">Ta bort senaste</button>
  <hr>
  Antal object i canvas: {{ objects.length }}
</ion-content>
