<!--
  Generated template for the AddFordonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lägg till fordon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Regnr</ion-label>
    <ion-input [(ngModel)]="regnr" placeholder="ABC123" autocomplete="false" name="regnr"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Förare</ion-label>
    <ion-input [(ngModel)]="forare" placeholder="Namn namnsson" autocomplete="false" name="regnr"></ion-input>
  </ion-item>
  <ion-item class="no-border">
    <button ion-button (click)="addFordon()">Lägg till</button>
  </ion-item>
  <ion-item *ngIf="fordonList.length > 0" class="no-border" no-border>
    <ion-list>
      <ion-list-header>Fordon:</ion-list-header>
      <ion-item *ngFor="let fordon of fordonList">
        {{ fordon.symbol }} - {{ fordon.regnr.toUpperCase() }} ({{ fordon.forare }})
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
